################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xamarin Hms Site Demo/v16
/bin/Debug
/obj
